/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
*/

#homepage{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-top: 50px;
}

.timeborder {
  border-style: dashed solid;
  width:160px;
  height: 50px;
  margin: auto;
}

/* Karekterler ve oyun ekranı */
body {
  background: rgba(221, 221, 221, 0.658);
}
p {
  text-align: center;
}
.game {
  width: 1200px;
  height: 500px;
  border: 2px solid rgba(121, 118, 111, 0.658);
  background: #fff;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
#dino {
  position: absolute;
  width: 187px;
  height: 201px;
  background: url(images/dino.jpg);
  bottom: 0;
}
.dino-animate {
  animation: dino 0.3s linear;
}
#engel {
  position: absolute;
  width: 37px;
  height: 60px;
  background: url(images/cactus.jpg);
  bottom: 0;
  left: 1150px;
}
.engel-animate {
  animation: engel 2s linear infinite;
}
@keyframes engel {
  0% {
    left: 1150px;
  }
  100% {
    left: -40px;
  }
}
@keyframes dino {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 70px;
  }
  75% {
    bottom: 70px;
  }
  100% {
    bottom: 0px;
  }
}


/*Button Ayarları*/
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(96, 107, 110);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}


#timespan{
  color: red;
}